In [1]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
import seaborn as sns

In [2]:
df=pd.read_csv("/content/Churn_Modelling.csv")

In [3]:
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [4]:
df.shape

(10000, 14)

In [5]:
df.isnull().sum().sum()

0

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  object
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  object
 5   Gender           10000 non-null  object
 6   Age              10000 non-null  int64
 7   Tenure           10000 non-null  int64
 8   Balance          10000 non-null  float64
 9   NumOfProducts    10000 non-null  int64
 10  HasCrCard        10000 non-null  int64
 11  IsActiveMember   10000 non-null  int64
 12  EstimatedSalary  10000 non-null  float64
 13  Exited           10000 non-null  int64
dtypes: float64(2), int64(9), object(3)
memory usage: 1.1+ MB

In [7]:
df.duplicated().sum()

0

In [8]:
df["Exited"].value_counts()

0    7963
1    2037
Name: Exited, dtype: int64

In [9]:
df["Geography"].value_counts()

France     5014
Germany    2509
Spain      2477
Name: Geography, dtype: int64

In [10]:
df["Gender"].value_counts()

Male      5457
Female    4543
Name: Gender, dtype: int64

In [11]:
df.drop(columns=['RowNumber','CustomerId','Surname'],inplace=True)

In [12]:
df.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [13]:
pd.get_dummies(df,columns=["Geography","Gender"],drop_first=True)

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_Germany,Geography_Spain,Gender_Male
0,619,42,2,0.00,1,1,1,101348.88,1,0,0,0
1,608,41,1,83807.86,1,0,1,112542.58,0,0,1,0
2,502,42,8,159660.80,3,1,0,113931.57,1,0,0,0
3,699,39,1,0.00,2,0,0,93826.63,0,0,0,0
4,850,43,2,125510.82,1,1,1,79084.10,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...
9995,771,39,5,0.00,2,1,0,96270.64,0,0,0,1
9996,516,35,10,57369.61,1,1,1,101699.77,0,0,0,1
9997,709,36,7,0.00,1,0,1,42085.58,1,0,0,0
9998,772,42,3,75075.31,2,1,0,92888.52,1,1,0,1
9999,792,28,4,130142.79,1,1,0,38190.78,0,0,0,0

In [14]:
x=df[["CreditScore","Age","Tenure","Balance","NumOfProducts","HasCrCard","IsActiveMember","EstimatedSalary"]].values
y=df["Exited"].values
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=1)

In [15]:
x_train.shape

(8000, 8)

In [16]:
x_test.shape

(2000, 8)

In [17]:
from sklearn.preprocessing import StandardScaler
scalar=StandardScaler()
x_train_scaled=scalar.fit_transform(x_train)

x_test_scaled=scalar.transform(x_test)

In [18]:
x_train_scaled

array([[-0.23082038, -0.94449979, -0.70174202, ..., -1.55337352,
         0.97725852,  0.42739449],
       [-0.25150912, -0.94449979, -0.35520275, ..., -1.55337352,
        -1.02327069, -1.02548708],
       [-0.3963303 ,  0.77498705,  0.33787579, ...,  0.64376017,
         0.97725852, -0.94479772],
       ...,
       [ 0.22433188,  0.58393295,  1.3774936 , ...,  0.64376017,
         0.97725852, -0.14096853],
       [ 0.13123255,  0.01077067,  1.03095433, ...,  0.64376017,
         0.97725852,  0.01781218],
       [ 1.1656695 ,  0.29735181,  0.33787579, ...,  0.64376017,
        -1.02327069, -1.15822478]])

In [19]:
x_test_scaled

array([[-1.03768121,  0.77498705, -1.0482813 , ...,  0.64376017,
         0.97725852, -0.05360571],
       [ 0.30708683, -0.46686456, -0.70174202, ...,  0.64376017,
        -1.02327069, -0.58392685],
       [-1.23422423,  0.29735181, -1.0482813 , ..., -1.55337352,
         0.97725852, -0.16685331],
       ...,
       [-0.86182692, -0.46686456,  1.72403288, ..., -1.55337352,
         0.97725852,  1.0669965 ],
       [-0.30323097, -0.84897275, -1.0482813 , ...,  0.64376017,
         0.97725852,  1.13101314],
       [ 0.04847759,  1.25262228,  1.3774936 , ...,  0.64376017,
         0.97725852, -0.88790165]])

In [22]:
import tensorflow
from tensorflow import keras
from tensorflow.keras import Sequential
from tensorflow.keras.layers import Dense

In [23]:
model=Sequential()
model.add(Dense(11,activation='relu',input_dim=8))
model.add(Dense(11,activation='relu'))
model.add(Dense(1,activation='sigmoid'))

In [24]:
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 11)                99

 dense_1 (Dense)             (None, 11)                132

 dense_2 (Dense)             (None, 1)                 12

=================================================================
Total params: 243
Trainable params: 243
Non-trainable params: 0
_________________________________________________________________

In [25]:
model.compile(loss='binary_crossentropy',optimizer='Adam',metrics=["accuracy"])

In [26]:
history=model.fit(x_train_scaled,y_train,epochs=100,validation_split=0.2)

Epoch 1/100
200/200 [==============================] - 2s 4ms/step - loss: 0.6144 - accuracy: 0.6755 - val_loss: 0.5049 - val_accuracy: 0.7987
Epoch 2/100
200/200 [==============================] - 1s 2ms/step - loss: 0.4657 - accuracy: 0.8053 - val_loss: 0.4535 - val_accuracy: 0.8112
Epoch 3/100
200/200 [==============================] - 0s 2ms/step - loss: 0.4370 - accuracy: 0.8150 - val_loss: 0.4429 - val_accuracy: 0.8144
Epoch 4/100
200/200 [==============================] - 0s 2ms/step - loss: 0.4270 - accuracy: 0.8214 - val_loss: 0.4342 - val_accuracy: 0.8206
Epoch 5/100
200/200 [==============================] - 1s 3ms/step - loss: 0.4184 - accuracy: 0.8250 - val_loss: 0.4266 - val_accuracy: 0.8194
Epoch 6/100
200/200 [==============================] - 0s 2ms/step - loss: 0.4084 - accuracy: 0.8342 - val_loss: 0.4139 - val_accuracy: 0.8256
Epoch 7/100
200/200 [==============================] - 0s 2ms/step - loss: 0.3959 - accuracy: 0.8405 - val_loss: 0.4003 - val_accuracy: 0.8325
Epoch 8/100
200/200 [==============================] - 0s 2ms/step - loss: 0.3840 - accuracy: 0.8459 - val_loss: 0.3894 - val_accuracy: 0.8344
Epoch 9/100
200/200 [==============================] - 1s 3ms/step - loss: 0.3746 - accuracy: 0.8511 - val_loss: 0.3816 - val_accuracy: 0.8444
Epoch 10/100
200/200 [==============================] - 0s 2ms/step - loss: 0.3683 - accuracy: 0.8537 - val_loss: 0.3755 - val_accuracy: 0.8450
Epoch 11/100
200/200 [==============================] - 0s 2ms/step - loss: 0.3634 - accuracy: 0.8545 - val_loss: 0.3756 - val_accuracy: 0.8475
Epoch 12/100
200/200 [==============================] - 0s 2ms/step - loss: 0.3607 - accuracy: 0.8537 - val_loss: 0.3711 - val_accuracy: 0.8450
Epoch 13/100
200/200 [==============================] - 0s 2ms/step - loss: 0.3585 - accuracy: 0.8564 - val_loss: 0.3688 - val_accuracy: 0.8469
Epoch 14/100
200/200 [==============================] - 1s 3ms/step - loss: 0.3564 - accuracy: 0.8572 - val_loss: 0.3696 - val_accuracy: 0.8450
Epoch 15/100
200/200 [==============================] - 0s 2ms/step - loss: 0.3551 - accuracy: 0.8567 - val_loss: 0.3677 - val_accuracy: 0.8469
Epoch 16/100
200/200 [==============================] - 1s 3ms/step - loss: 0.3537 - accuracy: 0.8594 - val_loss: 0.3683 - val_accuracy: 0.8475
Epoch 17/100
200/200 [==============================] - 0s 2ms/step - loss: 0.3532 - accuracy: 0.8569 - val_loss: 0.3674 - val_accuracy: 0.8469
Epoch 18/100
200/200 [==============================] - 0s 2ms/step - loss: 0.3522 - accuracy: 0.8595 - val_loss: 0.3683 - val_accuracy: 0.8450
Epoch 19/100
200/200 [==============================] - 0s 2ms/step - loss: 0.3512 - accuracy: 0.8577 - val_loss: 0.3680 - val_accuracy: 0.8456
Epoch 20/100
200/200 [==============================] - 0s 2ms/step - loss: 0.3509 - accuracy: 0.8584 - val_loss: 0.3660 - val_accuracy: 0.8450
Epoch 21/100
200/200 [==============================] - 1s 3ms/step - loss: 0.3499 - accuracy: 0.8608 - val_loss: 0.3673 - val_accuracy: 0.8456
Epoch 22/100
200/200 [==============================] - 0s 2ms/step - loss: 0.3497 - accuracy: 0.8594 - val_loss: 0.3655 - val_accuracy: 0.8444
Epoch 23/100
200/200 [==============================] - 1s 3ms/step - loss: 0.3489 - accuracy: 0.8591 - val_loss: 0.3661 - val_accuracy: 0.8444
Epoch 24/100
200/200 [==============================] - 0s 2ms/step - loss: 0.3481 - accuracy: 0.8594 - val_loss: 0.3642 - val_accuracy: 0.8438
Epoch 25/100
200/200 [==============================] - 0s 2ms/step - loss: 0.3480 - accuracy: 0.8580 - val_loss: 0.3667 - val_accuracy: 0.8450
Epoch 26/100
200/200 [==============================] - 1s 3ms/step - loss: 0.3476 - accuracy: 0.8581 - val_loss: 0.3659 - val_accuracy: 0.8425
Epoch 27/100
200/200 [==============================] - 0s 2ms/step - loss: 0.3471 - accuracy: 0.8580 - val_loss: 0.3667 - val_accuracy: 0.8450
Epoch 28/100
200/200 [==============================] - 0s 2ms/step - loss: 0.3467 - accuracy: 0.8587 - val_loss: 0.3645 - val_accuracy: 0.8462
Epoch 29/100
200/200 [==============================] - 1s 3ms/step - loss: 0.3465 - accuracy: 0.8575 - val_loss: 0.3658 - val_accuracy: 0.8469
Epoch 30/100
200/200 [==============================] - 0s 2ms/step - loss: 0.3463 - accuracy: 0.8584 - val_loss: 0.3631 - val_accuracy: 0.8450
Epoch 31/100
200/200 [==============================] - 0s 2ms/step - loss: 0.3459 - accuracy: 0.8592 - val_loss: 0.3623 - val_accuracy: 0.8456
Epoch 32/100
200/200 [==============================] - 0s 2ms/step - loss: 0.3454 - accuracy: 0.8602 - val_loss: 0.3636 - val_accuracy: 0.8431
Epoch 33/100
200/200 [==============================] - 1s 3ms/step - loss: 0.3451 - accuracy: 0.8577 - val_loss: 0.3638 - val_accuracy: 0.8481
Epoch 34/100
200/200 [==============================] - 1s 4ms/step - loss: 0.3449 - accuracy: 0.8591 - val_loss: 0.3636 - val_accuracy: 0.8456
Epoch 35/100
200/200 [==============================] - 0s 2ms/step - loss: 0.3445 - accuracy: 0.8600 - val_loss: 0.3634 - val_accuracy: 0.8469
Epoch 36/100
200/200 [==============================] - 0s 2ms/step - loss: 0.3444 - accuracy: 0.8597 - val_loss: 0.3632 - val_accuracy: 0.8462
Epoch 37/100
200/200 [==============================] - 0s 2ms/step - loss: 0.3440 - accuracy: 0.8602 - val_loss: 0.3631 - val_accuracy: 0.8456
Epoch 38/100
200/200 [==============================] - 0s 2ms/step - loss: 0.3439 - accuracy: 0.8594 - val_loss: 0.3645 - val_accuracy: 0.8462
Epoch 39/100
200/200 [==============================] - 0s 2ms/step - loss: 0.3437 - accuracy: 0.8595 - val_loss: 0.3638 - val_accuracy: 0.8462
Epoch 40/100
200/200 [==============================] - 0s 2ms/step - loss: 0.3435 - accuracy: 0.8611 - val_loss: 0.3635 - val_accuracy: 0.8494
Epoch 41/100
200/200 [==============================] - 0s 2ms/step - loss: 0.3426 - accuracy: 0.8592 - val_loss: 0.3625 - val_accuracy: 0.8450
Epoch 42/100
200/200 [==============================] - 0s 2ms/step - loss: 0.3431 - accuracy: 0.8612 - val_loss: 0.3622 - val_accuracy: 0.8469
Epoch 43/100
200/200 [==============================] - 0s 2ms/step - loss: 0.3431 - accuracy: 0.8603 - val_loss: 0.3634 - val_accuracy: 0.8450
Epoch 44/100
200/200 [==============================] - 0s 2ms/step - loss: 0.3425 - accuracy: 0.8594 - val_loss: 0.3621 - val_accuracy: 0.8475
Epoch 45/100
200/200 [==============================] - 0s 2ms/step - loss: 0.3426 - accuracy: 0.8612 - val_loss: 0.3635 - val_accuracy: 0.8456
Epoch 46/100
200/200 [==============================] - 0s 2ms/step - loss: 0.3423 - accuracy: 0.8591 - val_loss: 0.3625 - val_accuracy: 0.8450
Epoch 47/100
200/200 [==============================] - 0s 2ms/step - loss: 0.3421 - accuracy: 0.8584 - val_loss: 0.3633 - val_accuracy: 0.8481
Epoch 48/100
200/200 [==============================] - 0s 2ms/step - loss: 0.3426 - accuracy: 0.8598 - val_loss: 0.3624 - val_accuracy: 0.8450
Epoch 49/100
200/200 [==============================] - 0s 2ms/step - loss: 0.3419 - accuracy: 0.8605 - val_loss: 0.3622 - val_accuracy: 0.8500
Epoch 50/100
200/200 [==============================] - 0s 2ms/step - loss: 0.3419 - accuracy: 0.8602 - val_loss: 0.3625 - val_accuracy: 0.8475
Epoch 51/100
200/200 [==============================] - 0s 2ms/step - loss: 0.3413 - accuracy: 0.8611 - val_loss: 0.3627 - val_accuracy: 0.8481
Epoch 52/100
200/200 [==============================] - 0s 2ms/step - loss: 0.3411 - accuracy: 0.8592 - val_loss: 0.3625 - val_accuracy: 0.8487
Epoch 53/100
200/200 [==============================] - 0s 2ms/step - loss: 0.3419 - accuracy: 0.8602 - val_loss: 0.3631 - val_accuracy: 0.8481
Epoch 54/100
200/200 [==============================] - 0s 2ms/step - loss: 0.3413 - accuracy: 0.8602 - val_loss: 0.3639 - val_accuracy: 0.8487
Epoch 55/100
200/200 [==============================] - 0s 2ms/step - loss: 0.3408 - accuracy: 0.8608 - val_loss: 0.3620 - val_accuracy: 0.8475
Epoch 56/100
200/200 [==============================] - 0s 2ms/step - loss: 0.3410 - accuracy: 0.8592 - val_loss: 0.3637 - val_accuracy: 0.8512
Epoch 57/100
200/200 [==============================] - 0s 2ms/step - loss: 0.3409 - accuracy: 0.8592 - val_loss: 0.3638 - val_accuracy: 0.8481
Epoch 58/100
200/200 [==============================] - 0s 2ms/step - loss: 0.3410 - accuracy: 0.8606 - val_loss: 0.3649 - val_accuracy: 0.8462
Epoch 59/100
200/200 [==============================] - 1s 3ms/step - loss: 0.3403 - accuracy: 0.8606 - val_loss: 0.3629 - val_accuracy: 0.8487
Epoch 60/100
200/200 [==============================] - 1s 3ms/step - loss: 0.3409 - accuracy: 0.8595 - val_loss: 0.3615 - val_accuracy: 0.8494
Epoch 61/100
200/200 [==============================] - 1s 3ms/step - loss: 0.3408 - accuracy: 0.8595 - val_loss: 0.3628 - val_accuracy: 0.8456
Epoch 62/100
200/200 [==============================] - 0s 2ms/step - loss: 0.3409 - accuracy: 0.8598 - val_loss: 0.3627 - val_accuracy: 0.8506
Epoch 63/100
200/200 [==============================] - 1s 3ms/step - loss: 0.3405 - accuracy: 0.8605 - val_loss: 0.3633 - val_accuracy: 0.8487
Epoch 64/100
200/200 [==============================] - 0s 2ms/step - loss: 0.3406 - accuracy: 0.8598 - val_loss: 0.3632 - val_accuracy: 0.8487
Epoch 65/100
200/200 [==============================] - 0s 2ms/step - loss: 0.3399 - accuracy: 0.8595 - val_loss: 0.3633 - val_accuracy: 0.8462
Epoch 66/100
200/200 [==============================] - 0s 2ms/step - loss: 0.3404 - accuracy: 0.8587 - val_loss: 0.3625 - val_accuracy: 0.8475
Epoch 67/100
200/200 [==============================] - 1s 3ms/step - loss: 0.3401 - accuracy: 0.8594 - val_loss: 0.3624 - val_accuracy: 0.8494
Epoch 68/100
200/200 [==============================] - 1s 3ms/step - loss: 0.3399 - accuracy: 0.8608 - val_loss: 0.3625 - val_accuracy: 0.8475
Epoch 69/100
200/200 [==============================] - 0s 2ms/step - loss: 0.3391 - accuracy: 0.8603 - val_loss: 0.3638 - val_accuracy: 0.8506
Epoch 70/100
200/200 [==============================] - 1s 2ms/step - loss: 0.3394 - accuracy: 0.8614 - val_loss: 0.3646 - val_accuracy: 0.8462
Epoch 71/100
200/200 [==============================] - 1s 3ms/step - loss: 0.3395 - accuracy: 0.8598 - val_loss: 0.3660 - val_accuracy: 0.8475
Epoch 72/100
200/200 [==============================] - 0s 2ms/step - loss: 0.3397 - accuracy: 0.8597 - val_loss: 0.3629 - val_accuracy: 0.8469
Epoch 73/100
200/200 [==============================] - 1s 3ms/step - loss: 0.3398 - accuracy: 0.8595 - val_loss: 0.3626 - val_accuracy: 0.8475
Epoch 74/100
200/200 [==============================] - 0s 2ms/step - loss: 0.3395 - accuracy: 0.8614 - val_loss: 0.3649 - val_accuracy: 0.8475
Epoch 75/100
200/200 [==============================] - 0s 2ms/step - loss: 0.3398 - accuracy: 0.8625 - val_loss: 0.3625 - val_accuracy: 0.8444
Epoch 76/100
200/200 [==============================] - 1s 3ms/step - loss: 0.3390 - accuracy: 0.8608 - val_loss: 0.3635 - val_accuracy: 0.8500
Epoch 77/100
200/200 [==============================] - 1s 2ms/step - loss: 0.3396 - accuracy: 0.8603 - val_loss: 0.3628 - val_accuracy: 0.8469
Epoch 78/100
200/200 [==============================] - 0s 2ms/step - loss: 0.3388 - accuracy: 0.8595 - val_loss: 0.3635 - val_accuracy: 0.8475
Epoch 79/100
200/200 [==============================] - 1s 3ms/step - loss: 0.3386 - accuracy: 0.8600 - val_loss: 0.3661 - val_accuracy: 0.8500
Epoch 80/100
200/200 [==============================] - 1s 3ms/step - loss: 0.3389 - accuracy: 0.8609 - val_loss: 0.3629 - val_accuracy: 0.8494
Epoch 81/100
200/200 [==============================] - 1s 3ms/step - loss: 0.3389 - accuracy: 0.8612 - val_loss: 0.3640 - val_accuracy: 0.8469
Epoch 82/100
200/200 [==============================] - 0s 2ms/step - loss: 0.3388 - accuracy: 0.8597 - val_loss: 0.3629 - val_accuracy: 0.8494
Epoch 83/100
200/200 [==============================] - 1s 3ms/step - loss: 0.3384 - accuracy: 0.8608 - val_loss: 0.3628 - val_accuracy: 0.8469
Epoch 84/100
200/200 [==============================] - 1s 3ms/step - loss: 0.3384 - accuracy: 0.8605 - val_loss: 0.3631 - val_accuracy: 0.8469
Epoch 85/100
200/200 [==============================] - 1s 4ms/step - loss: 0.3382 - accuracy: 0.8620 - val_loss: 0.3646 - val_accuracy: 0.8475
Epoch 86/100
200/200 [==============================] - 1s 3ms/step - loss: 0.3388 - accuracy: 0.8619 - val_loss: 0.3623 - val_accuracy: 0.8481
Epoch 87/100
200/200 [==============================] - 1s 3ms/step - loss: 0.3380 - accuracy: 0.8623 - val_loss: 0.3648 - val_accuracy: 0.8475
Epoch 88/100
200/200 [==============================] - 0s 2ms/step - loss: 0.3384 - accuracy: 0.8609 - val_loss: 0.3654 - val_accuracy: 0.8462
Epoch 89/100
200/200 [==============================] - 0s 2ms/step - loss: 0.3387 - accuracy: 0.8611 - val_loss: 0.3647 - val_accuracy: 0.8450
Epoch 90/100
200/200 [==============================] - 0s 2ms/step - loss: 0.3380 - accuracy: 0.8608 - val_loss: 0.3631 - val_accuracy: 0.8462
Epoch 91/100
200/200 [==============================] - 0s 2ms/step - loss: 0.3379 - accuracy: 0.8603 - val_loss: 0.3627 - val_accuracy: 0.8469
Epoch 92/100
200/200 [==============================] - 1s 3ms/step - loss: 0.3382 - accuracy: 0.8617 - val_loss: 0.3640 - val_accuracy: 0.8487
Epoch 93/100
200/200 [==============================] - 0s 2ms/step - loss: 0.3380 - accuracy: 0.8609 - val_loss: 0.3640 - val_accuracy: 0.8475
Epoch 94/100
200/200 [==============================] - 0s 2ms/step - loss: 0.3376 - accuracy: 0.8631 - val_loss: 0.3634 - val_accuracy: 0.8481
Epoch 95/100
200/200 [==============================] - 1s 3ms/step - loss: 0.3379 - accuracy: 0.8611 - val_loss: 0.3644 - val_accuracy: 0.8462
Epoch 96/100
200/200 [==============================] - 1s 3ms/step - loss: 0.3379 - accuracy: 0.8609 - val_loss: 0.3656 - val_accuracy: 0.8475
Epoch 97/100
200/200 [==============================] - 1s 3ms/step - loss: 0.3372 - accuracy: 0.8630 - val_loss: 0.3666 - val_accuracy: 0.8462
Epoch 98/100
200/200 [==============================] - 1s 3ms/step - loss: 0.3377 - accuracy: 0.8594 - val_loss: 0.3666 - val_accuracy: 0.8469
Epoch 99/100
200/200 [==============================] - 1s 3ms/step - loss: 0.3375 - accuracy: 0.8631 - val_loss: 0.3648 - val_accuracy: 0.8475
Epoch 100/100
200/200 [==============================] - 1s 3ms/step - loss: 0.3372 - accuracy: 0.8616 - val_loss: 0.3651 - val_accuracy: 0.8487

In [29]:
y_log=model.predict(x_test_scaled)
y_pred=np.where(y_log>0.5,1,0)

In [30]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,y_pred)

0.855

In [31]:
model.layers[0].get_weights()

[array([[ 0.05695538, -0.16219126, -0.02046212,  0.2560945 , -0.16116643,
          0.08311234, -0.0068105 , -0.20286268, -0.06099859, -0.1710749 ,
         -0.8281873 ],
        [ 0.43729138, -0.75212234,  0.18048497,  0.33453694, -0.92443526,
          0.31579688, -0.766568  ,  0.3749037 , -0.12620646,  0.637774  ,
         -0.6946725 ],
        [ 0.3522277 ,  0.38931188,  0.15356082, -0.23807473, -0.011029  ,
         -0.64157104, -0.08527914,  0.4155044 ,  0.39083484,  0.29545408,
          0.0237167 ],
        [-0.9032717 , -0.26475462, -0.09982565, -0.71104795,  0.24578162,
          0.24745578,  0.08093986,  0.62303686, -0.00379698, -0.19241132,
          0.15851548],
        [ 0.11268713, -0.29180703, -0.80660737, -0.10307833,  0.00756013,
          0.636533  , -0.02404879, -0.5695173 ,  0.7323977 ,  1.6208373 ,
         -0.6735392 ],
        [ 0.4994851 , -0.07970399,  0.01524819, -0.38070956,  0.01797558,
          0.38318837,  0.08386239,  0.10116647, -0.17334007,  0.29780418,
         -0.29361263],
        [ 0.61763066, -0.16188693, -0.6953996 ,  0.4588826 , -0.4672017 ,
         -0.3234623 , -0.30242497,  0.56821054,  0.06969756,  0.22096184,
          0.4220916 ],
        [-0.8730265 , -0.10117745,  0.10153672,  0.70499027,  0.03300224,
         -0.02868084,  0.01632823,  0.16087627,  0.02800465, -0.17237645,
         -0.02848023]], dtype=float32),
 array([ 0.15218355,  0.69701856,  0.11040572,  0.2974075 ,  0.28573647,
        -0.04195208,  1.1331042 , -0.10201088, -0.14859378,  0.25012815,
        -0.01393952], dtype=float32)]

In [32]:
model.layers[1].get_weights()

[array([[-0.5263737 , -0.14808244,  0.30774298,  0.65985423, -0.2559613 ,
          0.455019  ,  0.5481236 , -0.13851376,  0.1763204 , -0.21727154,
         -0.02809882],
        [-0.33682814, -0.16371244, -0.48416087,  0.29394966, -0.38707393,
         -0.28708294,  0.14040737,  0.80826944,  0.3149955 , -0.24707192,
          0.04601202],
        [ 0.05654781,  0.588485  ,  0.6458495 , -0.33760166, -0.32238168,
         -0.1975682 ,  0.46199268, -0.20136128,  0.23212783,  0.66832584,
         -0.31418836],
        [ 0.03190996,  0.3577816 ,  0.28975266,  0.7047627 ,  0.46440867,
         -0.51307225,  0.45581874, -0.33792558, -0.10609303, -0.3521301 ,
          0.72304237],
        [ 0.607389  , -0.5490259 , -0.7590662 ,  0.17869787,  0.1478221 ,
          0.46235776,  0.18242179, -0.412363  , -0.66899776, -0.7086908 ,
         -0.16305757],
        [ 0.08281162,  0.7140797 , -0.5043621 ,  0.17244047,  0.09505083,
          0.5060874 , -0.15287077, -0.34762543,  0.18118212,  0.3822941 ,
         -0.06200297],
        [-0.6970017 , -0.6009191 , -0.26961136,  0.4854996 ,  0.8368068 ,
          0.03533844,  0.25124282, -0.45289287,  0.80756253, -0.2123759 ,
          0.72302043],
        [-0.21160336, -0.69345176,  0.04062966,  0.2369129 , -0.2660121 ,
         -0.5159153 ,  0.5027435 , -0.36236915,  0.6273782 , -0.17824757,
          0.4809374 ],
        [ 0.6949808 ,  0.39723098, -2.3978393 , -0.27208483, -0.05533941,
          0.962535  ,  0.06255087,  0.51264346,  0.24078377,  0.3866862 ,
         -0.298001  ],
        [ 0.5461043 , -0.18919876, -1.1886832 ,  0.19096786,  0.16988675,
          0.19172321, -1.4816375 ,  0.20769951,  0.9013729 ,  0.33486775,
          0.26388076],
        [-0.65456957,  0.6130417 ,  0.6292747 , -0.3410299 , -0.43768924,
         -0.03684286, -0.08502015,  0.57302004,  0.282721  , -0.40583414,
          0.28375638]], dtype=float32),
 array([-0.0894421 ,  0.1514258 ,  0.10890549,  0.41150028,  0.5898094 ,
         0.01668171, -0.00916286,  0.40849283,  0.36267793,  0.02645132,
         0.5314303 ], dtype=float32)]

In [35]:
# [["CreditScore","Age","Tenure","Balance","NumOfProducts","HasCrCard","IsActiveMember","EstimatedSalary"]
credit_score=int(input("Enter the Credit Score: "))
Age=int(input("Enter the Age: "))
Tenure=int(input("Enter the Tenure: "))
Balance=float(input("Enter the Balance"))
Number_of_products=int(input("Enter the number of products: "))
has_credit_card=int(input("Please (Yes/No) in form (1/0) whether customer has credit card or not: "))
is_active_member=int(input("Please (Yes/No) in form (1/0) whether customer is active or not: "))
Estimated_salary=float(input("Enter the Estimated Salary: "))

Enter the Credit Score: 400
Enter the Age: 35
Enter the Tenure: 2
Enter the Balance40000
Enter the number of products: 2
Please (Yes/No) in form (1/0) whether customer has credit card or not: 1
Please (Yes/No) in form (1/0) whether customer is active or not: 1
Enter the Estimated Salary: 100000

In [36]:
y_pred=model.predict([[credit_score,Age,Tenure,Balance,Number_of_products,has_credit_card,is_active_member,Estimated_salary]])
y_pred1=np.where(y_pred>0.5,1,0)
print(y_pred1)

[[0]]

In [37]:
if y_pred1==0:
  print("Not Exited")
if y_pred1==1:
  print("Exited")

Not Exited